@import "./variables";

$footer-border-color: lighten($surface-base-bg-color, 12%);
$footer-text-color: darken($surface-base-text-color, 25%);

body > div.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  margin-top: 3em;

  border-top: 1px solid $footer-border-color;

  font-size: 0.82em;
  font-weight: 500;
  color: rgb(10, 10, 10);

  .field {
    padding: 1em 0;

    &.copyright {
      margin-right: auto;
      color: $footer-text-color;
    }

    &.separate {
      margin: 0 2em;
    }

    &.menu ul.nav {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      margin: 0 0 0 0;
      padding: 0;
      list-style: none;

      .item {
        &:not(:last-child) {
          margin-right: 2.5em;
        }

        a {
          // ...
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  body > div.footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    max-width: 95vw;
    padding: 1em 0;

    .field {
      padding: 0;

      &.copyright {
        margin: 0;
        color: $footer-text-color;
      }

      &.separate {
        margin: 1em 0 !important;
      }

      &.menu ul.nav {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 0;
        padding: 0;
        list-style: none;

        .item {
          margin: 0;
          padding: 0;
          &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 0.5em;
          }
        }
      }
    }
  }
}
