@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");

@import "./variables";
@import "./partials/vendor";
@import "./partials/footer";
@import "./partials/navigation";
@import "./partials/container";
@import "./partials/layout";
@import "./partials/forms";
@import "./partials/colors";
@import "./partials/typography";
@import "./partials/spacing";
@import "./partials/blog";

@import "./partials/icons/material-icons";

html {
  font-size: $base-font-size;
}

body {
  font-family: $base-font-family;

  background-color: $surface-base-bg-color;
  color: $surface-base-text-color;
}
