@import "./variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $surface-base-heading-font-family;
  font-weight: 500;
  color: $surface-base-heading-color;
}

@each $level in 1, 2, 3, 4, 5, 6 {
  h#{$level} {
    font-size: get-heading-size($level);
  }
}

.font {
  &-size {
    &-larger {
      font-size: 1.5em;
    }
  }

  &-weight {
    &-medium {
      font-weight: 500;
    }
  }
}
